

<div class="modal fade show" id="rankings_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rankings</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="overflow: hidden;">
                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover table-striped table-bordered datatable dataTable no-footer" id="ranking_datatable" role="grid"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>