@import "../../abstracts/variables";
@import "../../abstracts/mixins";
@import "../../abstracts/functions";

.f-contac {
    @include desktop {
        .f-container__contact {
            max-width: 1180px;
            margin-left: auto !important;
            margin-right: auto !important;
            padding-left: 25px !important;
            padding-right: 25px !important;
        }
    }

    .f-section__flex {
        margin: 0;

        @include desktop {
            @include flexbox-direction(row-reverse);
        }
    }

    .f-section__card {
        padding: 25px;
        @include flexbox();

        @include desktop {
        }
    }

    input {
        margin-bottom: 10px;
    }

    p, textarea {
        margin-bottom: 20px;
    }

    .f-image {
        margin-top: 20px;
        @include flexbox();
        @include flexbox-justify-content(center);
        width: 300px;
        height: 300px;
        object-fit: contain;
        overflow: hidden;

        @include desktop {
            width: 400px;
            height: 400px;
        }
        img {
            object-fit: cover;
        }
    }

    .no-margin {
        margin: 0;
    }
}
