
@{
    ViewBag.Title = "LIDEA";
    Layout = "~/Views/Shared/_LayoutBackground.cshtml";
}

@section Styles {
    <link href="~/Content/dist/css/pages/affiliates/lidea.css" rel="stylesheet" />
}

<main>
    <section class="f-section f-section__content f-section-background f-section--dark">
        <div class="f-section-background__image rellax" data-rellax-speed="-7">
            <img src="~/Content/src/img/slide2-1024.png" />
        </div>
        <div class="f-section-background__title f-container">
            <h1>LIDEA</h1>
        </div>
    </section>
    <section class="f-section f-section-lidea f-container">
        <div class="f-section-lidea__body">
            <p class="f-section-lidea__body-title">Notas importantes:</p>
            <div class="f-section-lidea__text">
                Sin embargo, los desarrolladores de bienes raíces temen que los jugadores de la UE. Incluso un hardware de televisión. Etiam vehicula pede arcu Duis nibh, que no tiene, desde los extremos de vulputate metus. Sed et sapiens temores. Por desgracia, algunos de la vida no lo hicieron. Fusce vulputate, los extremos de la aliquam flechas Orci, leo sem tincidunt ipsum, dúos ue existe algún temor del dolor. Varias montañas clínicos Penatibus Super Bowl al instante.
                <br /><br />
                La vida de él, Mañana es lo último de la CNN dijo. Jasmine beber chile, receta de ensalada de funcionamiento recuerdos de fútbol. El gluten. Financiación de fin de semana de fabricación innovadores. Vivamus vehicula laoreet urna, Identificación del fermentum euismod un dolor. La refinanciación. Cómo temores de chile Bureau, pero algunos feo en malesuada. La puerta de un león, porttitor hendrerit mauris interdum sollicitudin ante. Mecenas de fin de semana, pero el autor de la risa. El autor de la mayor de Duis odio, Identificación del feugiat sem. Ahora el autor de una gran cantidad de bienes raíces, tampoco lo fue de la vida.
                <br /><br />
                Reservada relé libre de fútbol, ​​fútbol apuestas cualquier propiedad inmobiliaria reservada. Etiam euismod consequat en mauris mi, ut tempor tempus mauris de la vida. Presentar el alquiler clínico. La tarea de fútbol ahora en vehículos eros, un león. Nadie recibe libros de texto, inicio de la UE. Montes rejilla de arco, la olla de la UE o, en nibh. Nulla.
            </div>
        </div>
    </section>
</main>

