
@{
    ViewBag.Title = "_BackgroundHeader";
}


<section class="f-section f-section__content f-section--dark f-section--100vw f-section--40vh">
    <div class="f-section__background">
        <img src="~/Content/src/img/slide2-1024.png" />
    </div>
    <div class="f-section__background-title f-header">
        <h1>FEI CHALLENGE</h1>
    </div>
</section>