@import "../../abstracts/variables";
@import "../../abstracts/mixins";
@import "../../layout/variables";

.f-section-jineteDetalle-detail {
    margin-top: $f--section-separation;
}

.f-section__regresar {
    color: lightgray;
    text-decoration: none;
    font-style: italic;
}

.jineteDetalle-body p:not(:last-child) {
    margin-bottom: 10px;
    @include desktop {
        margin-bottom: 20px;
    }
}

.f-jineteDetalle-body {
    width: 100%;

    @include desktop {
        width: 70%;
    }
}

.f-section__image {
    img {
        position: absolute;
        right: 0;
        width: 280px;
    }
}
