
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackground.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <link href="~/Content/dist/css/pages/terms/terms.css" rel="stylesheet" />
    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px #E0311E;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #2A2828;
            border-radius: 10px;
        }


    </style>
}

    <main>
        <section class="f-section f-section__content f-section-background f-section--dark">
            <div class="f-section-background__image">
                <img src="~/Content/src/img/slide4-1024.png" />
            </div>
            <div class="f-section-background__title f-header f-container">
                <h1>T&Eacute;RMINOS Y CONDICIONES</h1>
            </div>
        </section>
        <section class="f-section f-section--center f-bg--secondary">
            <div class="f-container f-terms">
                <div class="f-terms__carousel">
                    <div class="f-terms__carousel-cell">
                        <div class="f-section__card">
                            <a href="#section-1" class="f-link">
                                Aceptación de los T&eacute;rminos y Condiciones 
                            </a>
                        </div>
                    </div>
                    <div class="f-terms__carousel-cell">
                        <div class="f-section__card">
                            <a href="#section-2" class="f-link">
                                Deberes y Derechos
                            </a>
                        </div>
                    </div>
                    <div class="f-terms__carousel-cell">
                        <div class="f-section__card">
                            <a href="#section-3" class="f-link">
                                Sobre el Contenido
                            </a>
                        </div>
                    </div>
                    <div class="f-terms__carousel-cell">
                        <div class="f-section__card">
                            <a href="#section-4" class="f-link">
                                Medios Sociales
                            </a>
                        </div>
                    </div>
                    <div class="f-terms__carousel-cell">
                        <div class="f-section__card">
                            <a href="#section-5" class="f-link">
                                Implicancias al ingresar a la web de la Federaci&oacute;n
                            </a>
                        </div>
                    </div>
                    <div class="f-terms__carousel-cell">
                        <div class="f-section__card">
                            <a href="#section-6" class="f-link">
                                Manejo de informaci&oacute;n del Usuario
                            </a>
                        </div>
                    </div>
                    <div class="f-terms__carousel-cell">
                        <div class="f-section__card">
                            <a href="#section-7" class="f-link">
                                Links a Web externas
                            </a>
                        </div>
                    </div>
                    <div class="f-terms__carousel-cell">
                        <div class="f-section__card">
                            <a href="#section-8" class="f-link">
                                Propiedad Industrial e Intelectual
                            </a>
                        </div>
                    </div>
                    <div class="f-terms__carousel-cell">
                        <div class="f-section__card">
                            <a href="#section-9" class="f-link">
                                Leyes Vigentes Aplicables
                            </a>
                        </div>
                    </div>
                    <div class="f-terms__carousel-cell">
                        <div class="f-section__card">
                            <a href="#section-10" class="f-link">
                                Preguntas
                            </a>
                        </div>
                    </div>
                </div>
                <div class="f-terms__body">
                    <div class="f-terms__body-text">
                        <div id="section-1" class="f-section__terms">
                            <h3>Aceptación de los T&eacute;rminos y Condiciones</h3>
                            <p>
                                El acceso y la utilización del sitio implican la aceptación de estos términos y condiciones en su
                                totalidad, así como de cualquier otra ley o normativa que se aplique al sitio, a Internet y a la
                                World Wide Web. La Federación revisa periódicamente los Términos y Condiciones de su sitio
                                web, pudiendo modificarlos en cualquier momento, produciendo dichas modificaciones, sus
                                efectos desde el momento en que son introducidas a este sitio web.
                                De no encontrarse de acuerdo o no aceptar los Términos y Condiciones, deberá abstenerse de
                                navegar por este sitio web y/o manipular cualquier tipo de información contenida en él, bajo
                                responsabilidad propia.
                                La Federación se reserva el derecho de modificar el contenido y alcance de los presentes
                                términos y condiciones en cualquier momento y según lo considere necesario. El usuario
                                declara tener conocimiento de la presente cláusula y autoriza a la Federación a efectuar dichos
                                términos y modificaciones.
                                La Federación posee el derecho de cambiar estas condiciones de uso sin previo aviso y sin su
                                consentimiento. En ese sentido, el usuario es responsable de informarse de cualquier cambio a
                                los Términos y Condiciones y debe leer atentamente antes de utilizar el presente sitio web. 
                                Queda prohibido el uso del nombre, logotipos, marcas, diseños o cualquier signo distintivo de
                                autoría de La Federación, como enlaces de hipertexto o hipervínculos a páginas no controladas
                                por la empresa, sin previa y expresa autorización de La Federación.
                                No está permitido incluir en sitios y portales no autorizados por La Federación enlaces o
                                páginas interiores, evitando así visitar la página principal. Se prohíbe el despliegue, exhibición
                                o reproducción del presente sitio web, o de cualquiera de sus subdirectorios o páginas
                                secundarias, en sitios o portales no controlados por La Federación.
                                La Federación permite los enlaces a la Web. Al crear o mantener un vínculo al sitio Web, el
                                usuario acepta estas Condiciones: 
                                • Se promueve enlazar a www.fpdecuestres.com (y no otras partes de este Sitio Web). 
                                • Sólo puede enlazar, y no replicar, el contenido o páginas en la Web. 
                                • Debe asegurarse de que todos los vínculos se presentan de una manera que sea
                                representativa de La Federación y el Sitio Web. 
                                • El Usuario no puede usar el logotipo o marcas comerciales de La Federación y no debe dar la
                                impresión de que La Federación lo está patrocinando. 
                                • Cumplir con las condiciones de propiedad intelectual establecidas en estas Condiciones de
                                Uso (incluyendo no enmarcar, reformatear o alterar cualquier archivo o información sin el
                                consentimiento de la Federación). 
                                Queda prohibido que terceros utilicen el nombre comercial o los signos distintivos de titularidad
                                de La Federación. Sólo con fines informativos y sin reproducir, copiar o distribuir información
                                que no sea pública de otros enlaces que no incluya las referencias al portal de la empresa.
                                El usuario es responsable de asumir todos los costos de la instalación y el mantenimiento de
                                sus propios sistemas y equipos necesarios para acceder y utilizar el Sitio Web.
                                El usuario es responsable y deberá indemnizar a La Federación y sus Partes Relacionadas
                                contra todas las pérdidas, costos, gastos (incluyendo costos legales en una base de plena
                                indemnización), reclamación o daño sufrido o incurrido (o se compromete a pagar por medio de
                                un acuerdo o compromiso) en relación con o como resultado del: 

                                • Incumplimiento de estas condiciones de uso. 
                                • Conducta fraudulenta o deshonesta del usuario o de cualquier persona que ha permitido
                                utilizar este sitio.
                                Cada renuncia, exclusión o limitación de responsabilidad se mantiene en beneficio de La
                                Federación, licenciantes y contratistas de La Federación (y cada uno de sus funcionarios,
                                empleados, agentes y contratistas).
                                El usuario no puede ceder ninguno de sus derechos u obligaciones sin el consentimiento previo
                                y por escrito de La Federación.
                            </p>
                        </div>
          
                        <div id="section-2" class="f-section__terms">
                            <h3>Deberes y Derechos</h3>
                            <p>
                                Por el solo hecho de ingresar al sitio web de La Federación el usuario se obliga a lo siguiente:
                                1. Hacer correcto uso del sitio web, servicios y contenidos de éste. No utilizar el Sitio Web
                                para ningún propósito ilegal.
                                2. No utilizar el sitio web y los servicios y contenidos de éste con fines o efectos ilícitos o
                                que atenten contra los derechos o intereses de terceros.
                                3. No causar inutilización, saturación, deterioro o daño del sitio web, sus servicios y
                                contenidos.
                                4. No reproducir, copiar, comercializar, ceder, recircular, retransmitir, distribuir, publicar o
                                modificar sus contenidos.
                                5. Responder de todo daño y/o perjuicio, de cualquier naturaleza, que pueda sufrir La
                                Federación como consecuencia del mal uso de su sitio web.
                                6. Garantizar y responder acerca de la veracidad, exactitud, vigencia y autenticidad de los
                                datos personales proporcionados.
                                7. Indemnizar y responder de todo daño o costo que cualquier reclamo, acción o demanda,
                                pueda ocasionar a La Federación como consecuencia del mal uso de su sitio web por parte
                                del usuario.
                                8. Asegurar que su contacto y otros detalles presentados o almacenados en el sitio web son
                                actuales y precisos, que toda la información que el usuario envíe, suba o proporcione a
                                otro usuario del sitio Web, es verdadera y correcta y no infrinja los derechos (incluidos los
                                derechos de propiedad intelectual) de cualquier otra persona.
                                9. No introducir ningún código dañino en la página web o utilizarla de una manera que pueda
                                dañar, inutilizar o deteriorar los servicios o el sistema de La Federación.
                                10. No utilizar robots, scraper o cualquier otro medio para acceder al sitio web para cualquier
                                propósito.
                                11. No enviar o publicar los mensajes no solicitados o cualquier mensaje ofensivo, difamatorio,
                                amenazante, abusivo, racista, obsceno, fraudulento, engañoso, ilegal, abusivo o
                                inapropiado.
                                El usuario se compromete a utilizar los servicios y contenidos que le proporciona el portal
                                conforme a la legislación vigente, a los principios de buena fe y usos generalmente aceptados y
                                a no contravenirlos con sus acciones a través de la web de La Federación. El usuario se
                                compromete a suministrar información verdadera y exacta acerca de sí mismo en los
                                formularios de registro del portal.
                                Así también, La Federación se reserva expresamente los siguientes derechos:

                                1. Modificar o eliminar, en forma unilateral, parcial o total, su sitio web y sus condiciones de
                                uso.
                                2. Negar e impedir el acceso a este sitio, sus servicios y contenidos, sin aviso previo, a
                                aquellos usuarios que no cumplan con las obligaciones de uso de su sitio web.
                                3. Poner término, suspender o interrumpir unilateralmente, en cualquier momento el acceso y
                                uso de su sitio web.
                            </p>
                        </div>
        
                        <div id="section-3" class="f-section__terms">
                            <h3>Sobre el Contenido</h3>
                            <p>
                                La información contenida en el sitio web es sólo de carácter general y educativo, brinda
                                información, así como promociona y divulga los servicios y/o productos que ofrece La
                                Federación. 
                                La Federación no garantiza la exactitud y precisión de la información contenida en su sitio web
                                para cada caso, dado que ella es sólo de carácter general.
                                El sitio web es una página que ha sido creada únicamente con fines informativos. En todos los
                                casos de discrepancia en la información contenida en esta página y documentos entregados a
                                los clientes prevalecerán estos textos frente a los que puedan aparecen en la página web.
                                Los Artículos o Noticias que se publiquen en el sitio web contienen una variedad de material
                                con derechos de autor. Algunos son de propiedad intelectual de los individuos (como
                                claramente se indica), otros de propiedad de La Federación y material de dominio público.
                                A excepción de los materiales que son inequívocamente e indiscutiblemente de dominio
                                público, sólo el material propiedad de La Federación puede ser copiado, siempre que el texto y
                                la gráfica de contenido no se alteren y que se cite la fuente. La Federación se reserva el
                                derecho a revocar dicha autorización en cualquier momento. No se permite cualquier uso
                                comercial o venta de este material.
                                Se anima al usuario a consultar otras fuentes con el fin de confirmar la información contenida
                                en cualquiera de las publicaciones.
                                El Sitio Web y cualquier contenido disponible en el mismo (incluyendo, sin limitación, el
                                software en el que se basa toda la documentación relativa a su uso, texto, gráficos, vídeo,
                                audio, la información, los datos y el diseño del sitio web) son propiedad de La Federación o de
                                sus licenciantes, y están protegidos por la ley de derechos de autor y las leyes de propiedad
                                intelectual que correspondan.
                                1. La información en el sitio web, no necesariamente está actualizada ni se hace seguimiento
                                diario para corregir cualquier error, omisión o inexactitud en la información o
                                funcionamiento en el Sitio Web.
                                2. La Federación no acepta ninguna responsabilidad por la información o consejo (o el uso de
                                dicha información o consejo) que se proporciona en el Sitio Web o incorporado en él por
                                referencia. La Federación proporciona esta información en el entendido de que todas las
                                personas para acceder a ella asumen la responsabilidad de evaluar su pertinencia y
                                precisión.
                            </p>
                        </div>

                        <div id="section-4" class="f-section__terms">
                            <h3>Medios Sociales</h3>
                            <p>
                                Partes de este sitio Web contiene medios de comunicación con redes sociales. Estos canales
                                de medios sociales son proporcionados por terceros y están sujetos a los términos y
                                condiciones de la tercera parte del proveedor correspondiente (incluso si tiene acceso a ese
                                canal a través de cualquier enlace desde este Sitio Web) 
                                La Federación anima a participar en los medios sociales. Si el usuario participa en cualquier
                                medio de comunicación social lo hace bajo estos términos.

                                1. Actuar de manera responsable y ser respetuoso con los demás usuarios o personal de La
                                Federación.
                                2. No presentar ningún contenido, como publicidad de productos o servicios de cualquier otra
                                organización, o identificar personalmente cualquier otra persona sin su consentimiento
                                expreso:
                                o Contenido ofensivo o que incite al odio,
                                o Contenido ilegal,
                                o Fotos de áreas restringidas de La Federación, personal o deportistas,
                                o Otros que considera La Federación inapropiado.
                                La Federación podrá eliminar cualquier contenido enviado por el usuario, que considere una
                                violación de estos términos. Mientras que La Federación controle el contenido presentado en
                                cualquiera de sus canales de medios sociales puede no controlar todos los contenidos en todo
                                momento. En consecuencia, debe notificar a los usuarios de cualquier contenido inapropiado y
                                debe ignorar cualquier contenido que puede ser ofensivo para el usuario hasta que este es
                                eliminado por La Federación.
                            </p>
                            
                        </div>
                        
                        <div id="section-5" class="f-section__terms">
                            <h3>Implicancias al ingresar a la web de la Federaci&oacute;n</h3>
                            <p>
                                La Federación no garantiza que el uso del sitio web se encuentre libre de error, de virus o de
                                cualquier otro componente de carácter dañino. En ese sentido, La Federación no será
                                responsable del daño directo, indirecto, previsto o imprevisto, o cualquier otro, que provoque al
                                sistema computacional del usuario, al usuario o a terceros, el uso de su sitio web, del material o
                                de los servicios ofrecidos en éste.
                                El usuario utiliza este sitio bajo su responsabilidad. Ni La Federación, representantes,
                                directores o agentes, ni ninguna otra parte involucrada en la creación, la producción o la
                                distribución del sitio será responsable de ningún daño directo, indirecto, especial o resultante,
                                ni de otros daños que resulten del uso del material del sitio, o de la incapacidad de utilizarlo;
                                incluidos los daños causados por virus, incorrecciones, información incompleta del sitio, o el
                                rendimiento de los productos, incluso aunque se haya advertido a La Federación de la
                                posibilidad de dichos daños.
                                La Federación realiza sus mejores esfuerzos para aplicar los controles de seguridad y evitar el
                                acceso no autorizado o el mal uso de la Web; no obstante, el usuario reconoce que Internet es
                                una red pública insegura donde existe el riesgo de que su uso y las interacciones con este sitio
                                web puede ser visto, interceptado o modificado por terceros y que este sitio web y cualquier
                                información en este sitio web pueden contener código dañino.
                                En la medida permitida por la ley, La Federación no garantiza que no habrá, ni acepta ninguna
                                responsabilidad por cualquier código dañino en el Sitio Web o una violación de la seguridad de
                                un tercero o de cualquier interferencia o daño a su sistema informático, software o datos que se
                                producen en relación con o relacionados con este sitio web, fuera de los requisitos de Ley
                                vigentes en el Perú.
                                Mientras que el usuario es responsable de su propia seguridad en línea, La Federación le
                                recomienda: 
                                • Asegurarse que está utilizando la versión más reciente de su sistema operativo y el software
                                (incluyendo el navegador web) con los últimos parches y actualizaciones aplicadas. 
                                • Asegurarse que tiene un software antivirus instalado y funcionando en su equipo, que sus

                                actualizaciones están al día y que está configurado para analizar correos electrónicos y
                                archivos entrantes y salientes. 
                                • Asegurarse que su navegador está configurado para minimizar la probabilidad de que su
                                computadora o privacidad se vean afectados por códigos dañinos. 
                                • Sospechar de correos electrónicos extraños, archivos adjuntos o hipervínculos. 
                                • Si sospecha que su ordenador ha sido afectado por el código nocivo debe comunicarse con
                                su proveedor de servicios de TI o de anti - virus.
                                El usuario acepta: 
                                • Mantener cualquier información que sea confidencial o reservada (incluyendo sin limitación, el
                                software, código fuente , tecnología, herramientas, procesos, especificaciones funcionales y
                                materiales técnicos en los que se basa la Web) que se accede a través del sitio web en estricta
                                confidencialidad en todo momento. 
                                • No dar a conocer, utilizar, transmitir, informar o poner a disposición de cualquier persona
                                cualquiera de esa información salvo que sea necesario para llevar a cabo sus obligaciones o
                                ejercer sus derechos bajo estos Términos y Condiciones.
                            </p>
                        </div>

                        <div id="section-6" class="f-section__terms">
                            <h3>Manejo de informaci&oacute;n del Usuario</h3>
                            <p>
                                El uso que usted haga del sitio web puede ser registrado a fin de obtener una información
                                estadística y anónima respecto a qué páginas de éste son más visitadas, y así otorgar un mejor
                                servicio.
                                La Federación garantiza la seguridad y confidencialidad en el tratamiento de los datos de
                                carácter personal facilitados por los usuarios, de conformidad con lo dispuesto en la Ley Nº
                                29733, Ley de Protección de Datos Personales y/o sus normas reglamentarias,
                                complementarias, modificatorias, sustitutorias y demás disposiciones aplicables.
                                Toda información entregada a La Federación a través de su sitio web será objeto de
                                tratamiento automatizado e incorporada en una o más bases de datos de las que La
                                Federación será titular y responsable, conforme a los términos previstos por la Ley.
                                Usted podrá hacer valer, siempre que lo precise en lo que respecta a sus derechos ARCO
                                (Derechos de Acceso, Rectificación, Cancelación y Oposición) a través de nuestra Secretaría,
                                mediante comunicación por escrito remitida en la siguiente dirección: Av. Victor Andrés
                                Belaunde Nro. 280, San Isidro, Lima.
                            </p>
                        </div>
                     
                        <div id="section-7" class="f-section__terms">
                            <h3>Links a Web externas</h3>
                            <p>
                                Para su comodidad y para mejorar el uso del Sitio, es posible que de vez en cuando se
                                proporcionen enlaces a sitios Web cuya propiedad y control está en manos de terceros. Estos
                                enlaces le llevan fuera del servicio y del Sitio Web de La Federación y escapan de su control.
                                Su visita o acceso a estos sitios queda bajo su total responsabilidad. Tenga en cuenta que
                                estos otros sitios pueden enviar sus propias cookies a los usuarios, recopilar datos o solicitar
                                información personal y, por lo tanto, se aconseja que compruebe las condiciones de uso y las
                                políticas de privacidad de estos otros Sitios Web antes de usarlos.
                                Los materiales contenidos en este sitio web pueden contener enlaces a materiales en otros
                                sitios web (Materiales Vinculados). Los enlaces que se proporcionan a otros sitios web se
                                hacen sólo con fines de conveniencia y La Federación no pretende fomentar, aprobar ni
                                respaldar ninguno de los Materiales Vinculados.
                                Es la responsabilidad del usuario tomar sus propias decisiones en cuanto a la calidad,

                                exactitud, actualidad, fiabilidad e idoneidad de los materiales vinculados para sus fines. La
                                Federación no es responsable ante el usuario o cualquier otra persona por cualquier pérdida o
                                daño (sin importar la causa, incluso por negligencia) que surja de o en conexión con el uso de
                                este sitio web y/o el uso de los materiales del sitio web o Materiales Vinculados.
                                Si deposita confianza sobre los materiales del sitio web o Materiales Vinculados el usuario lo
                                hace bajo su propio riesgo.
                                La Federación no representa ni garantiza que los materiales del sitio web o Materiales
                                Vinculados estén libres de virus informáticos u otros defectos. La Federación recomienda que
                                las verificaciones de virus deban realizarse en cualquiera de los materiales descargados del
                                sitio web o Materiales Vinculados. En la medida permitida por la legislación aplicable, todas las
                                garantías, representaciones y condiciones implícitas están excluidas.

                                Propiedad Industrial e Intelectual 
                                Todos los derechos de propiedad industrial e intelectual contenidos en la página web son de
                                propiedad de La Federación. Se prohíbe el uso de cualquier derecho de propiedad industrial e
                                intelectual sin contar con el consentimiento previo, expreso y por escrito.
                                Este sitio se encuentra protegido por la normativa peruana vigente sobre derechos de autor.
                                Todos los signos distintivos (marcas de productos y de servicio, lemas comerciales y nombres
                                comerciales) registrados de acuerdo a la legislación nacional y supranacional, son propiedad
                                de La Federación. 
                                Se prohíbe el uso de cualquier signo distintivo de titularidad de La Federación contenido en el
                                presente sitio web sin el consentimiento previo y por escrito de La Federación.
                                El usuario tiene una licencia revocable para descargar, copiar e imprimir el contenido de la
                                página web para su uso personal. El usuario no puede: 
                                • Descargar, modificar, copiar, reproducir , volver a publicar, almacenar, cargar, publicar,
                                transmitir, vender, arrendar, alquilar, sub-licenciar, divulgar o distribuir cualquier parte de este
                                Sitio Web (o cualquier contenido en él) de cualquier manera, a excepción de lo que
                                expresamente en el Sitio Web o con el consentimiento previo y escrito de La Federación; 
                                • Alterar cualquier aviso de derechos de autor, manipular o utilizar comercialmente cualquier
                                marca, logotipo o nombres (incluidos los nombres comerciales y nombres de dominio) que
                                aparecen en el sitio web o en los materiales a los que se accede a través de la página web. 
                                • Crear trabajos derivados de ingeniería inversa, desmontar, descompilar cualquier parte del
                                sitio web.
                                La Federación se reserva el derecho a acceder, mantener, eliminar o destruir todas las
                                comunicaciones o información cargada o almacenado en el Sitio Web en cualquier momento.
                                El usuario acepta no utilizar el branding de La Federación (nombre, nombre comercial, marcas
                                de servicio, marcas comerciales, imagen comercial o logotipo de la Mujer o sus partes
                                relacionadas, proveedores o licenciatarios) en las emisiones de publicidad, materiales
                                promocionales, correo directo, en su sitio web o en otras comunicaciones sin el consentimiento
                                previo y escrito de La Federación. Todos los usos de branding redundarán en beneficio del
                                propietario de dichos logotipos, marcas, nombres comerciales y/o en otros dispositivos de la
                                marca.
                            </p>
                        </div>
                       
                        <div id="section-8" class="f-section__terms">
                            <h3>Propiedad Industrial e Intelectual</h3>
                            <p>
                                Todos los derechos de propiedad industrial e intelectual contenidos en la página web son de
                                propiedad de La Federación. Se prohíbe el uso de cualquier derecho de propiedad industrial e
                                intelectual sin contar con el consentimiento previo, expreso y por escrito.
                                Este sitio se encuentra protegido por la normativa peruana vigente sobre derechos de autor.
                                Todos los signos distintivos (marcas de productos y de servicio, lemas comerciales y nombres
                                comerciales) registrados de acuerdo a la legislación nacional y supranacional, son propiedad
                                de La Federación. 
                                Se prohíbe el uso de cualquier signo distintivo de titularidad de La Federación contenido en el
                                presente sitio web sin el consentimiento previo y por escrito de La Federación.
                                El usuario tiene una licencia revocable para descargar, copiar e imprimir el contenido de la
                                página web para su uso personal. El usuario no puede: 
                                • Descargar, modificar, copiar, reproducir , volver a publicar, almacenar, cargar, publicar,
                                transmitir, vender, arrendar, alquilar, sub-licenciar, divulgar o distribuir cualquier parte de este
                                Sitio Web (o cualquier contenido en él) de cualquier manera, a excepción de lo que
                                expresamente en el Sitio Web o con el consentimiento previo y escrito de La Federación; 
                                • Alterar cualquier aviso de derechos de autor, manipular o utilizar comercialmente cualquier
                                marca, logotipo o nombres (incluidos los nombres comerciales y nombres de dominio) que
                                aparecen en el sitio web o en los materiales a los que se accede a través de la página web. 
                                • Crear trabajos derivados de ingeniería inversa, desmontar, descompilar cualquier parte del
                                sitio web.
                                La Federación se reserva el derecho a acceder, mantener, eliminar o destruir todas las
                                comunicaciones o información cargada o almacenado en el Sitio Web en cualquier momento.
                                El usuario acepta no utilizar el branding de La Federación (nombre, nombre comercial, marcas
                                de servicio, marcas comerciales, imagen comercial o logotipo de la Mujer o sus partes
                                relacionadas, proveedores o licenciatarios) en las emisiones de publicidad, materiales
                                promocionales, correo directo, en su sitio web o en otras comunicaciones sin el consentimiento
                                previo y escrito de La Federación. Todos los usos de branding redundarán en beneficio del
                                propietario de dichos logotipos, marcas, nombres comerciales y/o en otros dispositivos de la
                                marca.
                            </p>
                        </div>
                       
                        <div id="section-9" class="f-section__terms">
                            <h3>Leyes Vigentes Aplicables</h3>
                            <p>El uso de este sitio web se regirá por todas las leyes aplicables de la República del Perú.</p>
                        </div>
                        
                        <div id="section-10" class="f-section__terms">
                            <h3>Preguntas</h3>
                            <p>
                                Si usted tiene alguna pregunta acerca de este sitio web, por favor póngase en  contacto  con La
                                Federación a la dirección: Av. Víctor Andrés Belaunde Nro. 280 – San Isidro.
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

    </main>

<script>

    var firstElem = document.querySelector('.f-terms__carousel');
    var secondElem = document.querySelector('.f-terms__carousel');
    var Fflkty = new Flickity(firstElem, {
        cellAlign: 'left',
        //contain: true,
        //autoPlay: 1500,
        pauseAutoPlayOnHover: false,
        adaptiveHeight: true,
        watchCSS: true
    });

    var Sflkty = new Flickity(secondElem, {
        cellAlign: 'left',
        //contain: true,
        //autoPlay: 1500,

        pauseAutoPlayOnHover: false,
        adaptiveHeight: true
    });

    var flkty = new Flickity('.f-terms__carousel', {
        on: {
            change: function (index) {
                console.log(index);
            }
        }
    });

    flkty.on('change', function (index) {
        console.log(index);
        let link = $(".f-terms__carousel .f-link")[index];
        let section = $1(link.getAttribute("href"));
        let sections = $(".f-section__terms");
        console.log(sections);
        sections.forEach(e => e.style.display = "none");
        section.style.display = "block";
    });


   
</script>


