    @import "../../abstracts/_mixins.scss";
@import "../../abstracts/_variables.scss";

@import "../../vendors/flickity/extend/slider";
@import "../../components/custom/modal/modal";
@import "../../components/custom/modal/event-modal";

.f-galery {
    .card-content {
        margin-top: 20px;
        padding: 0;
        border: 0;
    }

    .f-section-desktop {
        //margin-right: 31px;
    }

    .tab {
        @include flexbox-direction(row);

        @include desktop-and-tablet {
            margin-bottom: 70px;
        }



        button {
            margin-top: 2px;
            margin-bottom: 2px;
            padding: 0 1px;


            @include desktop-and-tablet {
                margin: 4px 9px;
                font-size: 20px;
            }
        }
    }

    .f-section {
        img {
            display: none;
        }

        .f-section-background__title {
            margin: 0.5rem auto;

            @include desktop-and-tablet {
                position: relative;
                text-align: center;
            }
        }
    }

    .f-section-background {
        height: 40vh !important;
    }

    btn {
        padding: 0;
    }
}

.f-section-desktop {
    @include mobile {
        display: none;
    }
    width: 46% !important;
    @include flexbox;
    @include flexbox-align-items(flex-end);

    .tab {
        margin-top: 5px;
    }
}

.f-no-display {
    @include desktop-and-tablet {
        display: none;
    }
}

.grid {
    background: $f--secondary-color;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 44%;
    height: 200px;

    @include tablet {
        width: 22.5%;
        height: 280px;
    }

    @include desktop {
        width: 23%;
        height: 310px;
    }
}

.grid-item {
    float: left;
    margin: 10px;
}

.grid-item img {
    display: block;
    max-width: 100% !important;
}

/* Effect 4: fall perspective */
.grid.effect-4 {
    perspective: 1300px;
}

.grid.effect-4 li {
    transform-style: preserve-3d;
}

.grid.effect-4 li.animate {
    transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    animation: fallPerspective .8s ease-in-out forwards;
}

.f-modal-event .tingle-modal-box__content .f-modal-event__map {
    margin-top: 4rem;
    height: 100%;

    img {
        object-fit: contain;
        max-height: 700px;
    }
}

.f-modal-event .tingle-modal-box__content .f-modal-event__info-location {
    flex-basis: 100%;
}

.f-modal-event .tingle-modal-box__content .f-modal-event__info {
    @include desktop {
        margin-bottom: 30px;
    }
}

.f-modal--primary .tingle-modal-box {
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
}

.modal-event-template {
    display: none;
}