
@{
    ViewBag.Title = "ListadoCaballos";
    Layout = "~/Views/Shared/_LayoutBackground.cshtml";
}

<main>
    <section class="f-section f-section__content f-section-background f-section--dark">
        <div class="f-section-background__image rellax" data-rellax-speed="-7">
            <img src="~/Content/src/img/slide2-1024.png" />
        </div>
        <div class="f-section-background__title f-container">
            <h1></h1>
        </div>
    </section>

    <section class="f-section f-container f-section--error">
        <br /><br />
        <h1> ALGO SALIO MAL AQUÍ!</h1>
        <br />
        <h2>PÁGINA NO ENCONTRADA</h2>
        <br />
        
        <a class="f-btn f-btn--primary f-btn--xl" href="@Url.Action("Index", "Home", new { area = "" })">
            <i class="icon-home"></i> Regresar al Inicio
        </a>
        <br />
        <br />
        <br />
    </section>

</main>