<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="@Url.Action("Index", "Home", new { Area = "" })">
        @*<img class="navbar-brand-full" src="~/Content/img/brand/logo.svg" width="89" height="25" alt="FDNE Logo">*@
        <img class="navbar-brand-full" src="~/Content/img/logo-fep.png" width="30" height="30" alt="FDNE Logo">
        <img class="navbar-brand-minimized" src="~/Content/img/logo-fep.png" width="30" height="30" alt="FDNE Logo">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
            @using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="img-avatar" src="~/Content/img/default-user-image.png" alt="avatar">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                        <strong>Cuenta</strong>
                    </div>
                    <a class="dropdown-item" href="@Url.Action("Index", "Profile", new { Area = "" })">
                        <i class="fa fa-user"></i> Perfil
                    </a>
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fa fa-lock"></i> Cerrar Sesi&oacute;n
                    </a>
                </div>
            }
        </li>
    </ul>
</header>
