@model FNDE.PE.WEB.PORTAL.ViewModels.AboutUsViewModels.MisionVisionViewModel

@{
    ViewBag.Title = "MisionVision";
    Layout = "~/Views/Shared/_LayoutBackground.cshtml";
}

@section Styles {
    <link href="~/Content/dist/css/pages/about-us/mision-vision.css" rel="stylesheet" />
}

<main>
    <section class="f-section f-section__content f-section-background f-section--dark">
        <div class="f-section-background__image rellax" data-rellax-speed="-7">
            <img src="~/Content/src/img/slide1-1024.png" />
        </div>
        <div class="f-section-background__title f-container">
            <h1>NOSOTROS</h1>
        </div>
    </section>
    <section class="f-section f-container f-section-description">
        @*<p>La Federación Deportiva Nacional Ecuestre, se creó el 12 de Mayo de 1949 según consta en la primera acta. El mismo día se sesionó bajo la Presidencia del Dr. W. Salazar y con la asistencia del Sr. Coronel E. Barreda, Sr. E. de Fernández, Sr. Antonio Graña, Sr. M Peña Prado, Sr. E. Isalva, A. Suárez, Tnte. Crnl. A Montes, My. A Anderson y My. J Escribens. En ese momento se le llamó Federación Peruana de Deportes Ecuestres</p>*@
        <p>@Model.AboutUs</p>
    </section>
    <section class="f-section f-section--dark f-section-misionvision">
        <div class="f-section-misionvision__container f-container">
            <div class="f-section-misionvision__container-mision">
                <h2 class="f-section__title f-section__title--gray">
                    MISI&Oacute;N
                </h2>
                <p>
@*                    Desarrollar, promover e incorporar nuevas disciplinas dentro del deporte ecuestre, que son reconocidas internacionalmente ya que nos abre a la posibilidad de presentar nuestra bandera en más eventos internacionales. Apoyar a los deportistas de alto rendimiento que actualmente se encuentran en camino a competir segun exigencias internacionales.*@
                    @Model.Mision
                </p>
            </div>
            <div class="f-section-misionvision__container-vision">
                <h2 class="f-section__title f-section__title--white">
                    VISI&Oacute;N
                </h2>
                <p>
                    @*El crecimiento del deporte ecuestre peruano en las diferentes disciplinas, elevar nivel t&eacute;cnico de las competencias en el circuito nacional, incrementar el numero de deportistas de alto rendimiento y deportista calificados.*@
                    @Model.Vision
                </p>
            </div>
        </div>
    </section>
</main>
