@{
    ViewBag.Title = "Inicio";
}

<p>Esta gu&iacute;a define el concepto visual, patrones de diseño y estructura para el proyecto web de la FDNE.</p>
<p>Esta gu&iacute;a se encuentra en constante actualizaci&oacute;n.</p>