
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Ejemplo</title>
    <link href="~/Content/dist/css/main.css" rel="stylesheet" />
</head>

<body>
<section class="f-section">
    <div class="f-section__title">
        <h3>NOSOTROS</h3>
    </div>
</section>
</body>
</html>