
@{
    ViewBag.Title = "Agradecimiento";
    Layout = "~/Views/Shared/_LayoutBackground.cshtml";
}

<main>
    <section class="f-section f-section__content f-section-background f-section--dark">
        <div class="f-section-background__image">
            <img src="~/Content/src/img/slide4-1024.png" />
        </div>
        <div class="f-section-background__title f-container">
            <h1>CONTACTO</h1>
            <a href="#" id="equisdeee" class="f-section__regresar">< REGRESAR</a>
        </div>
    </section>
    <section class="f-section f-section__flex f-container f-section--center" style="min-height: 15vh">
        <div style="margin-top:auto;margin-bottom:auto;">
            <h2 class="f-text--red">¡FELICITACIONES!</h2>
            <h5>Tu mensaje ha sido enviado con éxito.</h5>
        </div>
    </section>
</main>

