
@{
    ViewBag.Title = "Disciplinas";
    ViewBag.SubTitle = "Listado de Disciplinas";
    ViewBag.Breadcrumbs = new[] {
        new BreadcrumbViewData { Name = ViewBag.Title }
    };
}

<div>
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <i class="icon-list icons font-2xl"></i> @ViewBag.SubTitle
                <div class="card-header-actions">
                    <div class="card-header-action">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#add_modal">
                            <i class="fa fa-plus"></i>
                            <span>Nuevo</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover table-striped table-bordered datatable dataTable no-footer" id="discipline_datatable" role="grid"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_CreateModal")
@Html.Partial("_EditModal")

@section Scripts {
    <script src="@Url.Content("~/Content/js/areas/admin/discipline/index.js")"></script>
}